@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');



*{
    margin: 0;
    padding: 0;

}

body{
    background-color: black;
    color: white;
    box-sizing: border-box;
    height: 100vh;
}

.titulo-destaque{

    color: #22D4FD;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;;
}

.apresentacao__conteudo__descricao{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.apresentacao__links__link{
    background-color: #03f142;
    width: 280px;
    padding: 21.5px 0;
    border-radius: 16px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
}

.imagem{
    max-width:550px;
    max-height:550px;
    width: auto;
    height: auto;
    border: 10px solid;
    border-radius: 16px;
    border-color: #03f142;

}

.imagem__spring{
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;

}

.imagem__java{
    max-width: 110px;
    max-height: 110px;
    width: auto;
    height: auto;
    margin-left: 20px;
}

.imagens__logos{
    padding: 10px;
    
}